<!-- templates/post_detail.html -->
{% extends 'base.html' %}
{% block page_header %}
<h2>{{ object.title }}</h2>
{% endblock page_header %}

{% block content %}
<div class="card mb-3">
<h4 class="card-header">
</h4>
<div class="card-body">
{{ post.body|linebreaks }}
</div>
</div>
<p><a href="{% url 'post_edit' post.pk %}">+ Edit Blog Post</a>
<a href="{% url 'post_delete' post.pk %}">+ Delete Blog Post</a></p>
<small>Back to <a href="{% url 'home' %}">All Post</a>.</small>
{% endblock content %}
